extends layouts/main

block content 
    .form__container
        form(action=`/videos${editVideo}`,method="post")
            input(type="text",name="title",placeholder="Title")
            input(type="text",name="description",placeholder="Description")
            input(type="submit",value="Edit Video")
        a.form__container-link(href=`/videos${routes.deleteVideo}`) Delete Video